<div>
    <h2>Product Component</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo mollitia velit, esse sequi pariatur doloremque! Porro, architecto. Inventore quia autem est in, aut necessitatibus laboriosam. Voluptates doloremque obcaecati exercitationem a, nam aut repellat tempore explicabo aliquam ipsam rem facere molestiae illum consectetur neque, iste odio. Id, voluptatem eius! Ipsam, magni?
    </p>
    <button>Click here</button>
    <router-outlet></router-outlet>
    <ul>
        <li>
            <a [routerLink]="['/products/detail']">Details</a>
            
           
        </li>
        <li><a [routerLink]="['/products/price']">Price</a></li>
        <li> <a [routerLink]="['/products/spec']">Spec</a></li>
    </ul>
 </div>