.form-container{
    width: 50%;
    margin: auto;
    background-color: bisque;
    padding: 10px;
    text-align: center;
}
table{
    margin: auto;
}
table tr td,input,button,select{
    font-size: 20px;
}
table tr td{
    padding: 5px;
}
.error{
    color:red;
    text-align: left;
}